@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  max-width: 1600px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.Typewriter__wrapper {
  font-family: 'Lato';
  font-size: 1.7rem;
  color: #666666;
  margin: 0;
  font-weight: 400;
}

.Typewriter__cursor {
  font-size: 1.7rem;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

fullwidth {
  width: 100%;
}

@media (max-width: 1279.95px) {
  .Typewriter__wrapper {
    font-size: 1.3rem;
  }
  .Typewriter__cursor {
    font-size: 1.3rem;
  }
}